* {
  box-sizing: border-box;
}
body {
  background: burlywood;
  margin: 0;
  color: #ffffff;
}
.container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding-top: 50px;
  display: flex;
}
.contact {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.logo {
  width: 155px;
  height: 46px;
}
.facebook {
  width: 24px;
  height: 24px;
}
.contact li:not(:last-child) {
  margin-right: 20px;
}
.lang {
  text-decoration: none;
  padding: 5px;
}
.minilogo,
.header_contact {
  width: 50%;
}
.header_contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
}
.descriptor {
  margin-top: 0;
}
.nav_header a:not(:last-child) {
  margin-right: 15px;
}
